@page "/people"

<PageTitle>People Data</PageTitle>

@using DataLibrary;
@using BlazorServer.Models;
@using Microsoft.Extensions.Configuration;
@inject IDataAccess _data
@inject IConfiguration _config;

<h3>People</h3>

@if (people == null) 
{
    <p><em>Loading...</em></p>
}
else 
{
    <table class="table table-bordered table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in people)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                </tr>
            }
        </tbody>
    </table>  
}

@code {
    List<PersonModel> people;

    protected override async Task OnInitializedAsync()
    {
        string sql = "SELECT * FROM people";
        people = await _data.LoadData<PersonModel, dynamic>(sql, new {}, _config.GetConnectionString("default"));
    }
}
